# Environments
.env
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Lazygit
lazygit.exe

# temp
temp.py
temp/

# idea
.idea/

# db
*.db
