[project]
name = "{{project_name}}"
version = "0.1.0"
description = "{{project_description}}"
authors = [{ name = "{{authors_name}}", email = "{{authors_email}}" }]
requires-python = ">=3.12"
readme = "README.md"
license = { text = "GPL-3.0-only" }
dependencies = []